:root {
  --vh: 1vh;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-hero {
    font-size: clamp(0.5rem,7.4vw,4.5rem)
  }
  .text-title {
    font-size: clamp(0.5rem,5.4vw,2.5rem)
  }
}

.animate-rotate {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/*
  remove the scrollbar
*/

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.grid-layout {
  display: grid;
  grid-template-areas:
  "area1"
  "area2"
  "area2"
  "area3"
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template-areas:
    "area1 area3"
    "area2 area2"
    "area2 area2"
  }
}
/* tailwind vars */
@media (min-width: 1024px) {
  .grid-layout {
    grid-template-areas:
    "area1 area2"
    "area3 area2"
  }
}

.grid-area-1 {
  grid-area: area1
}

.grid-area-2 {
  grid-area: area2
}

.grid-area-3 {
  grid-area: area3
}